Your review for <i><%= @review.course.title %></i> by <%= @review.course.professor %>: <br> <br> 
"<%= @review.text %>" <br>

<% @user = current_user %> 
<% if @user.id == @review.user_id %> 
  <a class="button" href="/reviews/<%=@review.id%>/edit">Edit</a> <br> <br> 

  <form method="post" action="/reviews/<%= @review.id %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
<% end %> 

<br> <br>
<a class="button" href="/users/user_dashboard">Back to Dashboard</a>